sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  dotfiles = {{ joinPath .chezmoi.sourceDir "/home" }}
  machine_type = {{ promptChoice "Machine type" (list "personal" "work") | quote }}
  private_dotfiles = {{ promptString "Private dotfiles directory (Optional)" | quote }}
