{{- if stat (joinPath .private_dotfiles "dot_config/lazygit/config.yml") }}
[".config/lazygit/config.yml"]
  type = "file"
  url = "file:///{{ .private_dotfiles }}/dot_config/lazygit/config.yml"
{{- else }}
[".config/lazygit/config.yml"]
  type = "file"
  url = "file://{{ .sourceDir }}/dot_config/lazygit/config.base.yml"
{{- end }}

{{- if stat (joinPath .private_dotfiles "dot_config/git/dot_gitconfig.local") }}
[".config/git/.gitconfig.local"]
  type = "file"
  url = "file://{{ .private_dotfiles }}/dot_config/git/dot_gitconfig.local"
{{- end}}
