{{- if stat (joinPath .private_dotfiles "lazygit/config.yml") }}
[".config/lazygit/config.yml"]
  type = "file"
  url = "file:///{{ .private_dotfiles }}/lazygit/config.yml"
{{- else }}
[".config/lazygit/config.yml"]
  type = "file"
  url = "file://{{ .sourceDir }}/lazygit/config.base.yml"
{{- end }}

{{- if stat (joinPath .private_dotfiles "git/.gitconfig.local") }}
[".config/git/.gitconfig.local"]
  type = "file"
  url = "file://{{ .private_dotfiles }}/git/.gitconfig.local"
{{- end}}

{{- if stat (joinPath .private_dotfiles "cspell/local-words.txt") }}
[".config/cspell/local-words.txt"]
  type = "file"
  url = "file://{{ .private_dotfiles }}/cspell/local-words.txt"
{{- end}}
